<div class = "results-block">
  <%= bootstrap_flash %>
</div>

<% if @stock && @stock.ticker %>
  <div class = "well results-block">
    <strong>symbol: </strong><%= @stock.ticker %>
    <strong>name: </strong><%= @stock.name %>
    <strong>latest price: </strong><%= @stock.last_price %>
    
    <% if !tickerExists?(@stock,current_user.id) %>
      <%= link_to("Add to Tracking list",user_stock_path(:stock_ticker => @stock.ticker),:method => :post, :class => "btn btn-xs btn-success") %>
    <% else %>
      <span class = "label label-primary"> This Stock is already added </span>
    <% end %>
    
  </div>
<% end %>